.field.has-addons {
    flex-wrap: wrap;
}

.field.has-addons > label {
    width: 100%;
}

.datepicker .datepicker-body {
    display: block;
}

.datetimepicker {
    z-index: 2;
}

.radio, .checkbox {
    display: block;
}

.radio + .radio {
    margin-left: 0;
}

.field:last-child {
    margin-bottom: .75rem;
}

.datetimepicker-dummy .datetimepicker-dummy-wrapper {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
}

.field.has-error input:not([type="checkbox"]),
.field.has-error select,
.field.has-error textarea {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.field.has-error label.checkbox {
    color: #a94442;
}

.field {
    position: relative;
}

[data-tooltip].shown:not(.is-disabled)::before,
[data-tooltip].shown:not(.is-disabled)::after,
[data-tooltip].shown:not(.is-loading)::before,
[data-tooltip].shown:not(.is-loading)::after,
[data-tooltip].shown:not([disabled])::before,
[data-tooltip].shown:not([disabled])::after {
    opacity: 1;
    visibility: visible;
}

[data-tooltip].shown:not(.is-disabled)::before,
[data-tooltip].shown:not(.is-loading)::before,
[data-tooltip].shown:not([disabled])::before {
    background: rgb(0, 0, 0);
    font-size: 14px;
}

[data-tooltip].shown.has-tooltip-right:not(.is-disabled)::after,
[data-tooltip].shown.has-tooltip-right:not(.is-loading)::after,
[data-tooltip].shown.has-tooltip-right:not([disabled])::after {
    border-color: transparent rgb(0, 0, 0) transparent transparent;
}

[data-tooltip].shown.has-tooltip-left:not(.is-disabled)::after,
[data-tooltip].shown.has-tooltip-left:not(.is-loading)::after,
[data-tooltip].shown.has-tooltip-left:not([disabled])::after {
    border-color: transparent transparent transparent rgb(0, 0, 0);
}

.wizard [data-role="wrapper"] > .help {
    font-size: 20px;
    opacity: 0.7;
}

.select.with-choices:not(.is-multiple):not(.is-loading)::after {
    border: none;
}

.choices__item, .choices__list--dropdown .choices__item {
    font-size: 1rem;
}

.choices__inner {
    background-color: #fff;
}

.choices__inner {
    height: 40px;
    min-height: 40px;
    padding-top: 1.5px;
}
