.field.has-addons {
    flex-wrap: wrap;
}

.field.has-addons > label {
    width: 100%;
}

.datepicker .datepicker-body {
    display: block;
}

.datetimepicker {
    z-index: 2;
}

.radio, .checkbox {
    display: block;
}

.radio + .radio {
    margin-left: 0;
}

.field:last-child {
    margin-bottom: .75rem;
}
