.wizard {
    overflow: visible;
}

.wizard {
    padding-right: 25px;
}

.wizard .option label {
    font-weight: 200;
}

.wizard .form-group.has-error .option label {
    color: #a94442;
}

.wizard .form-group {
    position: relative;
}

.wizard .form-group > .help {
    display: block;
    margin-right: 4px;
    position: absolute;
    right: -25px;
    top: 45%;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
}

.has-error .selectize-input {
    border-color: rgb(169, 68, 66) !important;
}

.wizard .datepicker table {
    width: 100%;
}
